@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AVStack.IdentityServer.WebApi.Models.Requests.ForgotPasswordRequest

<div class="row justify-content-center pt-5">
  <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
    <div class="card px-3 mt-4 mb-3">
      <div class="card-body">
        <div class="row gy-1 py-4">
          <!-- <img src="../src/assets/icon.jpg" alt="identity server logo" class="img-fluid"> -->
          <h1 class="h4 text-center">Account Recovery</h1>
          <p class="text-center">To help keep your account safe, IdentityServer wants to make sure it's you trying to sign in</p>
        </div>
        <div class="row py-2">
          <p class="h6">An email with a verification link will be sent to given email: </p>
        </div>
        <form asp-route="ForgotPassword">
          <div class="form-floating">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autofocus>
            <label asp-for="Email" for="floatingInput">Email</label>
          </div>
          <div class="row gy-1 p-3">
            <button class="btn btn-primary" name="button" value="submit">Send</button>
            @* <button class="btn btn-light" href="./index.html" name="button" value="cancel">Cancel</button> *@
          </div>
        </form>
      </div>
    </div>
  </div>
</div>