@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AVStack.IdentityServer.WebApi.Models.Requests.ForgotPasswordRequest

<div class="card">
    <div class="card-body">
        <div class="card-title">Forgot Password</div>
        
        <form asp-route="ForgotPassword">
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
            </div>
            <button class="btn btn-primary align-self-end" name="button" value="submit">Submit</button>
            <button class="btn btn-secondary align-self-end" name="button" value="cancel">Cancel</button>
        </form>
    </div>

</div>