@model AVStack.IdentityServer.WebApi.Models.Requests.ResetPasswordRequest

<div class="col-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Password Reset</div>
            
            <form asp-route="PasswordReset">
                <input type="hidden" asp-for="Token"/>
                <input type="hidden" asp-for="UserId"/>
                @* <input type="hidden" name="token" value="@Model.Token"/> *@
                @* <input type="hidden" name="userID" value="@Model.UserId"/> *@
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirm</label>
                    <input type="password" class="form-control" placeholder="Confirm" asp-for="ConfirmPassword" autofocus>
                </div>
                <button class="btn btn-primary align-self-end" name="button" value="submit">Save</button>
                <button class="btn btn-secondary align-self-end" name="button" value="cancel">Cancel</button>
            </form>
        </div>
    
    </div>
</div>