@model AVStack.IdentityServer.WebApi.Models.Requests.ResetPasswordRequest


<div class="row justify-content-center pt-5">
  <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
    <div class="card px-3 mt-4 mb-3">
      <div class="card-body">
        <div class="row gy-1 py-4">
          <!-- <img src="../src/assets/icon.jpg" alt="identity server logo" class="img-fluid"> -->
          <h1 class="h4 text-center">Password Reset</h1>
        </div>
        <div class="row py-2">
          <p class="h6">Enter Your new password: </p>
        </div>
        <form asp-route="PasswordReset">
            <input type="hidden" asp-for="Token"/>
            <input type="hidden" asp-for="UserId"/>
            @* <input type="hidden" name="token" value="@Model.Token"/> *@
            @* <input type="hidden" name="userID" value="@Model.UserId"/> *@
            <div class="form-floating mb-3">
                <label asp-for="Password" for="floatingPassword">Password</label>
                <input asp-for="Password" id="floatingPassword" type="password" class="form-control"  autofocus>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="ConfirmPassword" for="floatingConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" id="floatingConfirmPassword" type="password" class="form-control" >
            </div>
            <button class="btn btn-primary" name="button" value="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>